:root{
  --primary: #343a40;
  --secondary: #321312;
  --font: sans-serif;
}

body { 
  font-family: var(--font); 
  height: 100%;
}

html {
  height: 100%;
}

.scene {
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
  transition-delay: 2s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  user-select: none;
}

.cube__face--front  { background: rgb(255, 255, 255); }
.cube__face--right  { background: rgb(255, 255, 255); }
.cube__face--back   { background: rgb(255, 255, 255); }
.cube__face--left   { background: rgb(255, 255, 255); }
.cube__face--top    { background: rgb(255, 255, 255); }
.cube__face--bottom { background: rgb(255, 255, 255); }

.cube__face--front  { transform: rotateY(0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY(90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.spinning{
    animation-name: spinning;
    animation-duration: 2s;
}

@keyframes spinning {
    0% {}
    20% { transform: rotateX(179deg) rotateY(179deg) rotateZ(179deg); }
    40% { transform: rotateX(358deg) rotateY(358deg) rotateZ(358deg); }
    60% { transform: rotateX(150deg) rotateY(150deg) rotateZ(150deg); }
    80% { transform: rotateX(330deg) rotateY(330deg) rotateZ(330deg); }
    100% { transform: rotateX(100deg) rotateY(100deg rotateZ(100deg)); }
}

body {
  margin: 0;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display:inline-block;
}

.scene-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-brand {
  color: white;
  font-size: 30px;
}

#about-title, .about-paragraph, .about-sub-title, .about-anchor {
  margin: 20px;
}

#dice-title, #dice-title-mobile {
  text-align: center;
  margin: 8px;
}

#dice-title {
  display: none;
}

@media all and (min-width: 800px) {
  #dice-title-mobile {
    display: none;
  }
  #dice-title {
    display: block;
  }
  .scene-container {
    flex-direction: row;
    align-items: stretch;
  }
}

#content-container {
  background-image: url("images/dice.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;
}

.footer-text {
  margin: 8px;
  color: white;
  background: var(--primary);
}

a:hover {
  color: white;
}

#triangle {
  width: 100%;
  height:  100%;
  position: relative;
  left: 0;
  border-top-left-radius: 2000px;
  border-left: 4px solid var(--primary);
  border-top: 4px solid var(--primary);
}

nav {
  background: var(--primary);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.start-page-button {
  background: transparent;
  border-bottom: 4px solid var(--primary);
  width: 80px;
  color: var(--primary);
  font-weight: bold;
  border-bottom-left-radius: 4px;
}

#content-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#score {
  text-align: center;
  margin: 8px;
}

.spacer {
  margin-left: 10px;
  margin-right: 10px;
}